<div class="d-flex flex-column justify-content-between align-items-center w-70 mx-auto">

       <h2>Great Reads DataBase is a webiste that provides you </h2>
       <h2> the next best books to read based on other users reviews.</h2>
       <h4>Great Reads Database Management portal is where administrators</h4>
       <h4>manage the database.</h4>
</div>

@code {

}
